html {
    background-image: url("../images/brucelee2.jpq.jpg");
    /* image from https://wall.alphacoders.com */
    background-size: 100vw 100vw;
}
body {
    background: transparent;
}

p{
    font-size: 18px;
}
